attrs==21.2.0
backports.cached-property==1.0.1
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
Flask==2.0.1
grpcio==1.38.1
grpcio-tools==1.38.1
idna==3.2
importlib-metadata==4.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
overrides==6.1.0
protobuf==3.17.3
pyrsistent==0.18.0
requests==2.26.0
robot-jsonschemalibrary==0.1.1
robotframework==4.1
robotframework-assertion-engine==0.2.0
robotframework-browser==6.0.0
robotframework-pythonlibcore==3.0.0
six==1.16.0
typing-extensions==3.10.0.0
typing-utils==0.1.0
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0